@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Marker+Hatch&family=Shafarik&display=swap');

@media only screen and (min-device-width: 300px) and (max-device-width: 840px){

	div {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

	}
	section {
    display: flex;
    flex-direction: row; /* Arrange items in a horizontal line */
    align-items: center; /* Align items vertically */
    justify-content: space-around; /* Space out elements evenly */
    flex-wrap: wrap; /* Allow wrapping for small screens */
    padding: 20px;
}
		
}

@media only screen and (min-device-width: 840px){
	div {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-wrap: wrap;
		flex: 1;
	}
	section { 
	background-color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 20px;
	padding-bottom: 20px;
}
}

body {
	max-width: 100%;
	font-family: 'Bebas Neue', serif;
	margin: 0;
	padding: 0;
	background-color:white;
}

h1 {
	font-size: 5rem;
	color: white;
	display: block;
	text-align: left;
	margin: 0;
}

h2,h3,h4 {
	font-size: 2rem;
	color: black;
	display: block;
	text-align: left;
	padding-left: 25%;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-size: 1.4em;
	color: black;
	padding: 10px 30px 10px 40px;
	border: 5px groove #000; /* Black solid border */
	border-radius: 1em;
}

p1 {
	font-size: 1.4em;
	color: white;
	padding: 10px 30px 10px 40px;
	border: 5px groove white; /* Black solid border */
	border-radius: 1em;
	margin-bottom: 20px;
}

p2 {
	font-size: 1.4em;
	color: white;
	padding: 10px 30px 10px 40px;
	border: 5px groove white; /* Black solid border */
	border-radius: 1em;
	margin-top: 20px;
}

ul {
	display: block;
	text-align: left;
	padding-left: 25%;
	font-size: 1.5rem;
}

li {
	list-style-position: inside;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 38%;
	max-height: 400px;
	max-width: 100%;
}

header {
	background-color: #1100ff;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
  }
  
  .header-left {
	display: flex;
	align-items: center; /* Keeps the logo and text aligned */
  }
  
  .header-left img {
	width: 250px;
	height: auto;
	margin-left: 15px; /* Keeps spacing between text and logo */
  }
  
  #header-button {
	padding: 10px 15px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Bebas Neue', serif;
  }
  
  #header-button:hover {
	background-color: #0056b3;
  }

  #music-button {
	padding: 10px 15px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Bebas Neue', serif;
  }
  
  #music-button:hover {
	background-color: #0056b3;
  }

.bg1 {
	background: linear-gradient(to right, #72cdec, #00a2ff, hsl(213, 100%, 50%));

}	
.bg2 {
	background-color: #001bff;
}

.bg3 {
	background-color: #d2d2d2;
}

iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%
}

footer {
	height: 100px;
	background-color: #001bff;
}

#complete {
	background-color: green;
}

#incomplete {
	background: linear-gradient(to right, #639bf4, #3d9df8, #0077ff);
}

iframe {
    border-radius: 1em;
	border: 5px outset black;
}
